body {
	padding:0;
	margin:0;
	
}
 #container {
	 width:210mm;
	 height:297mm;
	 background:#ccc;
	 margin:0 auto;
	 text-align:left;
 }
 .t {
	float:left;
	width:100%;
	height:10px;
	overflow:hidden;
	clear:both;
 }
#header {
	float:left;
	width:100%;
	height:50mm;
	background:#444444;
}
#au {
	float:left;
	padding-left:70mm;
	padding-top:20mm;
}
#content {
	float:left;
	width:100%;
	height:197mm;
	background:#444444;
}
#ae {
	float:left;
	
	
	width:190mm;
	height:197mm;
}
#footer {
	float:left;
	width:100%;
	height:100mm;
	background:#444444;
}
